blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,pre,textarea,ul {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    display: block;
}

ul {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
}

button,input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

a {
    color: #666;
    text-decoration: none;
}

html {
    background: url(images/bg.gif);
}

body {
    font: 12px 'Microsoft YaHei',SimSun,Helvetica,Tahoma,Arial,sans-serif!important;
    color: #666;
}

#main {
    margin-top: 150px;
}

#main ul {
    padding: 10px 20px;
    height: 50px;
    text-align: center;
}

#main li {
    position: relative;
    display: inline;
    margin-right: 1em;
    font-family: Frutiger,Helvetica,sans-serif;
    font-size: 16px;
    padding: 1em 1.5em;
    color: #999;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.75);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);
    box-shadow: inset 0 0 2em rgba(0,0,0,.05),0 3px 0 #ddd,0 3px 2px rgba(0,0,0,.5);
    background: #fff;
    background: -moz-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(16%,#fff),color-stop(75%,#f6f6f6),color-stop(100%,#ededed));
    background: -webkit-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    background: -o-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    background: -ms-radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    background: radial-gradient(center,ellipse cover,#fff 16%,#f6f6f6 75%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
}

#main li:hover {
    margin-top: 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
    box-shadow: inset 0 0 2em rgba(0,0,0,.075),0 0 2px rgba(0,0,0,.5);
}

#main li.active {
    background: #ccf;
}

#main img.fav {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    opacity: .3;
    border-radius: 10px;
    box-shadow: 0 1px 2px #333 inset;
}

#main li div {
    position: absolute;
    left: 0;
    top: 0;
}

#main div a {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 3px;
    cursor: pointer;
}

#message {
    height: 30px;
    text-align: center;
    color: #ccc;
}

#hidden {
    display: none;
}